@page
@model conexaoemacao.Pages.Ongs.IndexModel

@{
    ViewData["Title"] = "Index";
}
<section class="py-5">
     <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <div class="text-center">
                    <h2 class="fw-bolder text-gradient d-inline">Conheça as Ong's parceiras</h2>
                    <p class="lead fw-normal text-muted mb-5">Explore as ONGs que mais se alinham com seus valores e interesses e venha se tornar um voluntário!</p>
                </div>
            </div>
        </div>
        <div class="row gx-5">
            @foreach (var item in Model.Ong) {
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="~/assets/logo2enquanto.png" alt="...">
                    <div class="card-body p-4">
                        <div class="badge bg-primary bg-gradient rounded-pill mb-2"></div>
                            <h5 class="card-title mb-3">@Html.DisplayFor(modelItem => item.Name)</h5>
                        <p class="card-text mb-0">
                          @Html.DisplayFor(modelItem => item.Descricao)
                        </p>
                    </div>
                    <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#" target="_blank">Conheça mais</a></div>
                    </div>
                </div>
            </div>
            }

        </div>
        <div class="row gx-5">
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="~/assets/logo2enquanto.png" alt="...">
                    <div class="card-body p-4">
                        <div class="badge bg-primary bg-gradient rounded-pill mb-2"></div>
                        <h5 class="card-title mb-3">Enquanto há vida há esperança: Doar por amor!</h5></a>
                        <p class="card-text mb-0">
                            Enquanto a vida a esperança tem como objetivo auxiliar pessoas em situação de vulnerabilidade social, sendo elas em sua grande maioria moradores de rua e em alguns casos dependentes químicos, com foco em alimentação e vestuários.
                        </p>
                    </div>
                    <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#" target="_blank">Conheça mais</a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="~/assets/logovivenda.png" alt="...">
                    <div class="card-body p-4">
                        <h5 class="card-title mb-3">Vivenda</h5></a>
                        <p class="card-text mb-0">
                            Projetos:
                            Desde 1989, sempre com muito trabalho, a Vivenda chegou a faculdade, se formaram e se encontram hoje bem empregados. Com o tempo, a Associação cresceu, passou a ser reconhecida e já contava com uma equipe de confiança. Mas a irmã observou que ainda havia muito o se fazer: por que não estender o projeto para as famílias carentes da região de Parelheiros
                            A ideia começou a se tornar realidade em,iativas.
                        </p>
                    </div>
                    <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="https://www.vivendadacrianca.com.br/sobre-nos/" target="_blank">Conheça mais</a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="~/assets/logogerando.png" alt="...">
                    <div class="card-body p-4">
                        <h5 class="card-title mb-3">Gerando Falcões</h5></a>
                        <p class="card-text mb-0">A Rede Gerando Falcões é um ecossistema de desenvolvimento social que nasceu na favela. Sabemos o que transformou nossas vidas. A partir de nossas experiências pessoais e do conhecimento que acumulamos, desenvolvemos a crença de que é possível transformar a vida de crianças, jovens, líderes e moradores das favelas, através da combinação de educação socioemocional, educação profissional, acesso ao trabalho e tecnologias.</p>
                    </div>
                    <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="https://gerandofalcoes.com/quem-somos/" target="_blank">Conheça mais</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
