@page
@model conexaoemacao.Pages.OngsModel
@{
}

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Enquanto a esperança</h5>
        <p class="card-text">Somos um ong x bla blaaaaa.</p>
        <p>skksksaksksks</p>
        <a asp-page="#" class="btn btn-danger">Go somewhere</a>
    </div>
</div>