@page
@model conexaoemacao.Pages.Vagas.IndexModel

@{
    ViewData["Title"] = "Vagas";
}
<!-- Section-->
<section class="py-5">
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-8 col-xl-6">
            <div class="text-center">
                <h2 class="fw-bolder text-gradient d-inline">Conheça as vagas disponíveis para voluntariado.</h2>
                <p class="lead fw-normal text-muted mb-5">Junte-se a nós e faça parte desta incrível rede. Venha fazer a diferença!</p>
            </div>
        </div>
    </div>
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="~/assets/vagavivenda.png" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="">Nome da Vaga: </h5>
                            <p>
                                Descrição da vaga
                            </p>
                            <p>Quantidades: </p>

                        </div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" asp-page="/Entrar">Aplicar a vaga</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="~/assets/vagaenquantoimg.png" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="">Nome da Vaga: </h5>
                            <p>
                                Descrição da vaga
                            </p>
                            <p>Quantidades: </p>
                        </div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" asp-page="/Entrar">Aplicar a vaga</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="~/assets/vagaenquantoimg.png" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="">Nome da Vaga: </h5>
                            <p>
                                Descrição da vaga
                            </p>
                            <p>Quantidades: </p>
                        </div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" asp-page="/Entrar">Aplicar a vaga</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="~/assets/vagavivenda.png" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="">Nome da Vaga: </h5>
                            <p>
                                Descrição da vaga
                            </p>
                            <p>Quantidades: </p>
                        </div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" asp-page="/Entrar">Aplicar a vaga</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="~/assets/vagavivenda.png" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="">Nome da Vaga: </h5>
                            <p>
                                Descrição da vaga
                            </p>
                            <p>Quantidades: </p>
                        </div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" asp-page="Entrar">Aplicar a vaga</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="~/assets/vagaenquantoimg.png" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="">Nome da Vaga: </h5>
                            <p>
                                Descrição da vaga
                            </p>
                            <p>Quantidades: </p>
                        </div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" asp-page="/Entrar">Aplicar a vaga</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="~/assets/vagaenquantoimg.png" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="">Nome da Vaga: </h5>
                            <p>
                                Descrição da vaga
                            </p>
                            <p>Quantidades: </p>
                        </div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" asp-page="/Entrar">Aplicar a vaga</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
